* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* COLORS */
:root {
  --colorPrimario: #bf9673;
  --colorSecundario: #aa6238;
  --button: #f29b30;
  --buttonHover: #ffb049;
  --textPrincipal: #f2e8dc;
  --textTittle: #f2b84b;
  --textAlternative: #f2f2f0;
  --borders: white;
  --navFilter: #1a4731;
  --buttonCart: #a62f03;
  --buttonCartHover: #733b0a;
  --buttonContinueShopping: #a62f03;
  --footer: #c3604c;

  --transition: all 400ms ease;
}
#root {
  background-color: var(--colorPrimario);
}
/* GENERAL */
.navbar-brand a {
  color: #da7d38;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 2px solid var(--borders);
}
.spinner-border .text-secondary {
  height: 500px;
}
.filter,
#filterGallery {
  background-color: var(--footer);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 60px;
  margin: 30px;
  padding: 5px;
  border-radius: 8px;
  color: #9fe3c2;
}
.filterGallery__text {
  list-style: none;
}
.filterGallery__text a {
  margin-top: 10px;
  text-decoration: none;
  color: var(--textPrincipal);
  background-color: var(--colorPrimario);
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

/* PAGINA INDEX */

.indexTittle {
  margin: 10px;
  margin-bottom: 30px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.textMain {
  font-size: 30px;
  margin: 30px 10px;
  align-items: center;
  display: flex;
  justify-content: center;
}

/* PAGINA PRODUCT */
.applyFilter {
  width: 20%;
  height: 30px;
  margin: 20px;
  background-color: #9fe3c2;
  border-radius: 8px;
}
/* #da7d38 */

.galleryProduct {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1.5fr));
  gap: 40px;
  justify-content: center;
  align-items: center;
  margin: 40px;
}

.cardProduct {
  background-color: var(--colorSecundario);
  height: 500px;
  border-radius: 8px;
  border: 1 px solid transparent;
  padding: 2rem;
  overflow: hidden;
  position: relative;
  text-align: center;
  box-shadow: -1px 1px 5px 0px var(--borders);
  transition: var(--transition);
}

.cardProduct-info {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -100%;
  display: flex;
  flex-direction: column;
  background: rgb(117, 73, 32);
  border-radius: 1rem 0 0 1rem;
  transition: var(--transition);
  color: var(--textPrincipal);
}
.cardProduct:hover .cardProduct-info {
  right: 0;
}
.cardProduct:hover {
  background: rgb(230, 153, 81);
  transform: scale(1.1, 1.1);
}
.cardProduct-info p {
  padding: 1rem;
}
.card_img {
  height: 300px;
  border-radius: 20px;
}
.btnDiv {
  display: flex;
}

.nameProduct {
  color: var(--textPrincipal);
  font-size: 20px;
  margin: 20px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* ITEM COUNT */
.itemsCountButtoms {
  margin-top: 15px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.buy {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  padding: 5px;
  border-radius: 8px;
}

.buy img {
  width: 40px;
  height: 40px;
}

.addToCart {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  border-radius: 8px;
}
.textBuy:hover {
  background-color: var(--buttonHover);
  border-radius: 8px;
  box-shadow: 0px 1px 2px #3d3d3d;
}
.textBuy {
  margin-top: 20px;
  background-color: var(--button);
  padding: 10px 13px;
  color: var(--textAlternative);
  text-decoration: none;
  border-radius: 5px;
  font-size: 15px;
  box-shadow: 0px 1px 2px #3d3d3d;
}

.buttonCart {
  color: var(--textAlternative);
  text-decoration: none;
  border-radius: 5px;
  font-size: 15px;
  box-shadow: 0px 1px 2px #3d3d3d;
}
.addCart,
.buttonCart {
  background-color: var(--buttonCart);
  color: var(--textAlternative);
  margin-top: 10px;
  margin-left: 10px;
  height: 50px;
  width: 120px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 2px #3d3d3d;
}

.addCart:hover,
.buttonCart:hover {
  background-color: var(--buttonCartHover);
  box-shadow: 0px 1px 2px #3d3d3d;
  border-radius: 3px;
}

.alertaProducto {
  display: none;
  position: fixed;
  background-color: var(--textAlternative);
  color: black;
  width: 200px;
  height: 70px;
  font-size: 18px;
  bottom: 5%;
  right: 2%;
  border-radius: 8px;
  margin: auto;
}
.compraProducto {
  display: none;
  position: fixed;
  background-color: var(--textAlternative);
  color: black;
  width: 200px;
  height: 70px;
  bottom: 5%;
  right: 2%;
  border-radius: 8px;
  margin: auto;
  font-size: 20px;
}
.iconoAprobar {
  width: 25px;
  height: 25px;
}

/*  MEDIA QUERIES */
@media screen and (max-width: 1024px) {
  .galleryProduct {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1.5fr));
    gap: 20px;
  }
}

@media screen and (max-width: 600px) {
  .galleryProduct {
    grid-template-columns: repeat(auto-fill, minmax(230px, 1.5fr));
    gap: 20px;
  }

  .cardProduct {
    height: 400px;
    width: 250px;
    padding: 1rem;
  }
  .cardProduct img {
    height: 200px;
  }
}
