* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* GENERAL */
.navbar-brand a {
  color: #da7d38;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 2px solid white;
}

.bodyGallery {
  width: 95%;
  margin: auto;
  margin-bottom: 40px;
}

#filterGallery {
  background-color: #1a4731;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 30px;
  border-radius: 8px;

  color: #9fe3c2;
}
.filterGallery__text {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.filterGallery__text p {
  margin-top: 10px;
}

#filterGallery img {
  width: 40px;
  height: 40px;
}

/* PAGINA INDEX */

.indexTittle {
  margin: 10px;
  margin-bottom: 30px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.textMain {
  font-size: 30px;
  margin: 30px 10px;
  align-items: center;
  display: flex;
  justify-content: center;
}

/* PAGINA PRODUCT */
.applyFilter {
  width: 20%;
  height: 30px;
  margin: 20px;
  background-color: #9fe3c2;
  border-radius: 8px;
}

.bodyGallery {
  background-color: #da7d38;
  width: 100%;
  margin-bottom: 10px;
}
.galleryProduct {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 40px;
  justify-content: center;
  align-items: center;
  margin: 40px;
}

.cardProduct {
  background-color: #c4cec3;
  height: 550px;
  border-radius: 8px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: -5px 5px 20px 0px black;
  transition: 0.3s;
}

.btnDiv {
  display: flex;
}
.priceProduct,
.nameProduct {
  font-size: 20px;
  margin: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.itemsCountButtoms {
  margin-top: 15px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.cardProduct:hover {
  transform: scale(1.1, 1.1);
}
.imagen-producto img {
  width: 100%;
  height: 330px;
}

.buy {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  padding: 5px;
  border-radius: 8px;
}

.buy img {
  width: 40px;
  height: 40px;
}
.buyNow {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  display: flex;
  border-radius: 8px 8px 0 0;
}
.buyNow .textBuy a {
  padding: 10px 13px;
  box-shadow: 0px 1px 2px #3d3d3d;
  background-color: #dc3545;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 5px solid black;
}

.addCart {
  background-color: #e9b4d7;
  color: white;
  margin-top: 10px;
  margin-left: 10px;
  height: 40px;
  width: 100px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 2px #3d3d3d;
}
.addCart:hover {
  background-color: #f79ea6;
  box-shadow: 0px 1px 2px #3d3d3d;
  border-radius: 3px;
  height: 50px;
  width: 100px;
}
.itemCountP {
  width: 30px;
  background-color: white;
  color: black;
  text-align: center;
  margin: 0px 5px 0px 5px;
}
.alertaProducto {
  display: none;
  position: fixed;
  background-color: white;
  color: black;
  width: 200px;
  height: 70px;
  font-size: 18px;
  bottom: 5%;
  right: 2%;
  border-radius: 8px;
  margin: auto;
}
.compraProducto {
  display: none;
  position: fixed;
  background-color: white;
  color: black;
  width: 200px;
  height: 70px;
  bottom: 5%;
  right: 2%;
  border-radius: 8px;
  margin: auto;
  font-size: 20px;
}
.iconoAprobar {
  width: 25px;
  height: 25px;
}

.cartPage {
  height: 500px;
}
.cartPage p {
  font-size: 40px;
}
