.detailsItemsCard {
  display: flex;
  flex-direction: row;
  height: 600px;
}

.textDetails p {
  font-size: 30px;
}
.cardImgDetails {
  width: 300px;
  height: 300px;
  margin-right: 20px;
}

.nameProductDetails {
  align-items: center;
  justify-content: center;
}
.nameProductDetails p {
  font-size: 40px;
  text-align: center;
}

.priceProductDetails {
  font-size: 40px;
  text-align: center;
}

.cardDetailInfo {
  display: flex;

  justify-content: space-around;
  flex-direction: column;
}
.cardDetailInfo p {
  font-size: 15px;
}
.detailProduct {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border: 1px solid black;
}
